<div class="password-forgotten-wrapper">
  <form id="formPasswordForgotten" [formGroup]="forgetPasswordForm">
    <div class="form-group">
      <input
        id="emailInput"
        name="emailInput"
        class="login-email"
        type="text"
        placeholder="Email"
        required
        formControlName="email"
        [ngClass]="{
          'is-invalid': forgetPasswordForm.controls['email'].errors
        }"
      />
    </div>

    @if (user && isUserExists) {
    <div class="form-group">
      <input
        id="newpasswordInput"
        name="newpasswordInput"
        class="password-forgotten"
        type="password"
        placeholder="Enter a new password"
        required
        formControlName="newPassword"
        [ngClass]="{
          'is-invalid': forgetPasswordForm.controls['newPassword'].errors
        }"
      />
    </div>
    <button
      type="submit"
      class="password-forgotten-submit"
      (click)="changePassword($event)"
    >
      Create a new password
    </button>
    }

    <div>
      @if (!isUserExists) {
      <button
        type="submit"
        class="password-forgotten-submit"
        (click)="checkIfUserExists($event)"
        [disabled]="forgetPasswordForm.controls['newPassword'].errors"
      >
        Submit
      </button>
      }
      <div>
        <a routerLink="/auth">Return to the auth page</a>
      </div>
    </div>
  </form>
</div>
