<div class="form-container">
  <form [formGroup]="authForm" class="auth-form">
    <div class="form-group">
      <input
        id="emailInput"
        name="emailInput"
        class="form-input auth-email"
        type="text"
        placeholder="Email"
        required
        formControlName="email"
        [ngClass]="{ 'is-invalid': authForm.controls['email'].errors }"
      />
    </div>
    <div class="form-group">
      <input
        id="password"
        name="password"
        class="form-input auth-password"
        type="password"
        placeholder="Password"
        required
        formControlName="password"
        [ngClass]="{ 'is-invalid': authForm.controls['password'].errors }"
      />
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="form-button auth-submit"
        (click)="loginUser($event)"
      >
        Login
      </button>
    </div>
    <div class="form-footer">
      <a routerLink="/reg" class="form-link">Don't have account?</a>
      <a routerLink="/auth/forget-password" class="form-link"
        >Forget password?</a
      >
    </div>
  </form>
</div>
